<%= form_with(model: registro) do |form| %>
  <% if registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registro.errors.count, "error") %> prohibited this registro from being saved:</h2>

      <ul>
        <% registro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :nombre %>
    <%= form.text_field :nombre,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :apellido %>
    <%= form.text_field :apellido,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :correo %>
    <%= form.text_field :correo,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :telefono %>
    <%= form.text_field :telefono,class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :usuario %>
    <%= form.text_field :usuario,class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
