<p id="notice"><%= notice %></p>

<h1>Registros</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td><%= registro.nombre %></td>
        <td><%= registro.apellido %></td>
        <td><%= registro.correo %></td>
        <td><%= registro.telefono %></td>
        <td><%= registro.usuario %></td>
        <td><%= link_to 'Mostrar registro', registro %></td>
        <td><%= link_to 'Editar registro', edit_registro_path(registro) %></td>
        <td><%= link_to 'Eliminar registro', registro, method: :delete, data: { confirm: '¿Estás seguro de eliminar este registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dar de alta nuevo registro', new_registro_path %>
